body{
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	color: #0A143A;
	font-style: normal;
	font-size: 14px;
	font-variation-settings:
    "wdth" 100;
}

a{
	color: inherit;
}

.container{
	max-width: 1146px;
	margin: auto;
}

.header{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 12px;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.navbar-panel{
	flex-grow: 1;
	display: flex;
	align-items:center;
}

.navbar-menu{
	margin-right: auto;
}

.menu{
	list-style: none;
	margin: 0;
	padding-left: 22px;
	padding-right: 22px;
	display: flex;
}

.menu-item:not(:last-child){
	margin-right: 14px;
}

.menu-link{
	text-decoration: none;
}

.button{
	text-decoration: none;
	display:inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.button-primary{
	background: #256eeb;
	color: #fff;
}

.search-panel{
	height: 50px;
	background: #256eeb;
	border-radius: 5px;
	display: flex;
	padding: 3px;
}

.search-input{
	flex-grow: 1;
	background: #fff;
	border-radius: 5px;
	border: none;
	padding-left: 22px;
	padding-right: 22px;
}

.search-button{
	background: #256eeb;
	border: none;
	color: #fff;
	padding-left: 20px;
	padding-right: 17px;
	display: flex;
	align-items:center;
}

.search-button-text{
	margin-left: 5px;
}

.page-content{
	display:grid;
	grid-template-columns: 9fr 3fr;
	grid-column-gap: 10px;
}

.card-img{
	border-radius: 10px;
	width: 264px;
	height: 178px;
	object-fit: cover;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.card{
	margin-bottom: 20px;
	margin-right: 20px;
}

/* .card:not(:nth-child(3n)){
	margin-right: 20px;
} */

.card-link{
	text-decoration: none;
}

.card-title{
	margin-top: 12px;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #256eeb;
}

.card-header{
	width: 264px;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	align-items:center;
}

.like{
	background: #fff;
	border: none;
	cursor: pointer;
	margin-left: 15px;
}

.card-price{
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.card-text{
	font-size: 14px;
	line-height: 16px;
	color: #c4c4c4;
	margin-bottom: 4px;
	margin-top: 0;
}

.sidebar .page-title{
	font-size: 18px;
	line-height: 21px;
}

.sidebar-single img,
.sidebar-single a{
	width: 100%;
	display: block;
}

.service{
	margin-bottom: 25px;
	max-width: 217px;
	font-size: 14px;
	line-height: 16px;
	color: #0a143a;
}
.service-title{
	font-weight: 700;
	margin-top: 7px;
	margin-bottom: 5px;
}

.service-text{
	font-weight: 400;
}
hr{
	color:#e5e5e5;
	margin-bottom: 18px;
}
.footer-text,
.footer-text-link{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #c4c4c4;
	margin-top: 0;
	margin-bottom: 5px;
}

.footer-menu{
	list-style: none;
	margin: 16px 0 0 0;
	padding: 0;
}

.footer-menu-item{
	margin-bottom: 5px;
}

.footer-menu-link{
	text-decoration: none;
}

.main-single{
	display: flex;
	align-items:flex-start;
}

.content{
	max-width: 460px;
	margin-right: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
	width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
	background-size: cover;
    background-position: center;
}

.mySwiper2 {
	/* height: 80%; */
    width: 100%;
	border-radius: 10px;
}

.mySwiper {
	height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
    height: 100%;
    opacity: 0.4;
	border-radius: 3px;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 3px;
}

.single-price{
	font-weight: 700;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 25px;
	display: block;
}

.page-title{
	margin-top: 0;
	margin-bottom: 25px;
}

.content-text{
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #0a143a;
}

.author{
	min-width: 264px;
}

.author-wrapper{
	display: flex;
	align-items:center;
	justify-content: space-between;
	margin-top: 25px;
	margin-bottom: 30px;
	color: #0a143a;
}

.author-avatar{
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

.author-name{
	font-weight: 700;
	font-size: 14px;
	display: block;
	margin-bottom: 4px;
}

.rating{
	margin-bottom: 5px;
}

.rating-counter{
	font-weight: 400;
	font-size: 14px;
	opacity: 0.5;
	margin-left: 10px;
}

.author-status{
	font-weight: 400;
	font-size: 12px;
}

.author .button-group{
	display: block;
	width: 100%;
	height: 54px;
	margin-bottom: 14px;
	border:none;
	border-radius: 5px;
	color: #fff;
}

.author .button-success{
	background: #14b4be;
}

.menu-button{
	background: #fff;
	border: none;
	cursor: pointer;
	display: none;
}

.close-menu{
	display: none;
}

@media (max-width:1200px) {
	.container{
		max-width: 960px;
	}
	.card{
		width: 45%;
	}
	.card-img{
		width: 100%;
		height: 200px;
	}
}
@media (max-width: 992px) {
	.container{
		max-width: 740px;
	}

	.container-single{
		display:grid;
		grid-template-columns: 12fr;
		
	}

	.sidebar-baner-box{
		display: flex;
		align-items:flex-start;
		justify-content: space-between;
	}
	
	.card-img{
		height: 150px;
	}
}
@media (max-width: 768px) {
	.container{
		max-width: 560px;
	}
	.menu-button{
		display: block;
	}

	.navbar-panel{
		/* display: none; */
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 9;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin: 0 auto;
		transition: transform 0.2s, opacity 0.2s;
		transform: translateX(-100%);
		opacity: 0;
	}
	
	.is-open{
		transform: translateX(0%);
		opacity: 1;

	}

	.close-menu{
		display: block;
		position: absolute;
		right: 40px;
		top: 40px;
		cursor: pointer;
		background: #fff;
		border:none;
	}
	.navbar-menu{
		margin: 0 auto 25px auto;
	}
	.menu{
		align-items:center;
		justify-content: center;
		flex-direction: column;
	}

	.menu-item:not(:last-child){
		margin-right: 0;
		margin-bottom: 10px;
	}

	.button-group{
		display: flex;
		flex-direction: column;
	}


	.card{
		width: 100%;
	}

	.page-content{
		grid-template-columns: 8fr 4fr;
	}

	.container-single{
		grid-template-columns: 12fr;
		
	}
	.main-single{
		flex-direction: column;
		justify-content: space-around;
		align-items:flex-start;
	}
	.main-single .content{
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
	}
	.main-single .author{
		width: 100%;
	}
	.sidebar-baner-box{
		flex-direction: column;
	}
	.author-avatar{
		width: 150px;
		height: 150px;
	}
	
}

@media (max-width: 576px) {
	.container{
		max-width: 90%;
	}
	.card{
		margin-right: 0;
	}
	.card-img{
		height: 250px;
	}
	.page-content{
	grid-template-columns: 12fr;
	}
	.search-button-text{
		display: none;
	}
}