body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
	color: #0A143A;
  font-style: normal;
	font-size: 14px;
  font-variation-settings:
    "wdth" 100;
}

a{
	color: inherit;
}

.header{
	max-width: 1146px;
	margin: auto;
	padding-top: 30px;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.navbar-menu{
	margin-right: auto;
}

.menu{
	list-style: none;
	margin: 0;
	padding-left: 22px;
	padding-right: 22px;
	display: flex;
}

.menu-item:not(:last-child){
	margin-right: 14px;
}

.menu-link{
	text-decoration: none;
}

.button{
	text-decoration: none;
	display:inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.button-primary{
	background: #256eeb;
	color: #fff;
}

.search-panel{
	height: 50px;
	background: #256eeb;
	border-radius: 5px;
	display: flex;
	padding: 3px;
}

.search-input{
	flex-grow: 1;
	background: #fff;
	border-radius: 5px;
	border: none;
	padding-left: 22px;
	padding-right: 22px;
}

.search-button{
	background: #256eeb;
	border: none;
	color: #fff;
	padding-left: 20px;
	padding-right: 17px;
	display: flex;
	align-items:center;
}

.search-button-text{
	margin-left: 5px;
}